@use '../helpers' as *;

.blog-details {
	@include fluid('padding-top', 70, 50);
	@include fluid('padding-bottom', 150, 25);

	&__body {
		&-wrapper {
			margin-top: rem(30);
		}

		&-text {
			p {
				&:not(:last-child) {
					margin-bottom: rem(20);

					@include mobile-s {
						margin-bottom: rem(10);
					}
				}
			}
		}
	}

	&__other {
		margin-top: rem(50);

		&-title {
			&-small {
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
		}

		&-items {
			display: grid;
			row-gap: rem(30);
		}

		&-item {
			display: grid;
			grid-template-columns: rem(250) 1fr;
			column-gap: rem(35);

			@include mobile {
				grid-template-columns: auto;
				row-gap: rem(20);
			}
		}

		&-text {
			color: #4f4f4f;
		}
	}
}

.navigation-blog-details {
	padding: rem(33) rem(35);
	background-color: var(--color-light-gray);
	border: rem(1) solid #ddd;
	border-radius: var(--border-radius-l);

	&__list {
		display: grid;
		row-gap: rem(15);
		margin-left: rem(10);
	}

	&__link {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--color-3030);

		@include hover {
			text-decoration: none;
		}
	}
}
