@use '../helpers' as *;

.footer {
	padding-block: rem(35);
	background-color: var(--color-light-gray);

	@include mobile {
		padding-block: rem(20);
	}

	@include mobile-s {
		padding-block: rem(12);
	}

	&__container {
		&-big {
			text-align: center;
		}
	}

	&__menu {
		&:not(:last-child) {
			margin-bottom: rem(26);

			@include mobile-s {
				margin-bottom: rem(16);
			}
		}

		&-list {
			@include flex-center;
			flex-wrap: wrap;
			column-gap: rem(25);
		}

		&-link {
			color: #544b44;
		}
	}
}
