@use 'sass:math';

// Допоможники (обнулення стилів, міксини, медіа)
@use 'helpers' as *;

// Підключення шрифтів
@use 'fonts';

// =============================================================================
// Сторінки, компоненти та ін. =================================================
// =============================================================================

// Часто використовувані компоненти
@use 'common';

// Підключення стилів окремих блоків (header, footer тощо)
@use 'blocks' as *;

// Підключення стилів окремих сторінок
@use 'home';

// =============================================================================
// Body, wrapper, що обмежує контейнер =========================================
// =============================================================================

// Стилі тега BODY =============================================================
body {
	// Скрол заблоковано (для попапів, бургер меню)
	.is-lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Оболонка wrapper ============================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо футер донизу
	> main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів (swiper)
	> * {
		min-inline-size: 0;
	}
}

// Обмежуючий контейнер ========================================================

// (i) Стилі будуть застосовуватися до
// всіх стилях, які містять *__container
// Наприклад header__container, main__container і т.п.

[class*='__container'] {
	max-width: rem(800);
	margin-inline: auto;
	padding-inline: rem(math.div($containerPadding, 2));
	box-sizing: content-box;
}

[class*='__container-big'] {
	max-width: rem($containerWidth);
	margin-inline: auto;
	padding-inline: rem(math.div($containerPadding, 2));
	box-sizing: border-box;
}
